/* App.css */
.App {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* Estilos para el fondo */
body {
  background-color: #181818;
  color: #fff;
}

/* Estilos para el logo */
.logo {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-right: 1rem;
  color: #fff;
  text-shadow: 2px 2px #000;
}

/* Estilos para el navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar-link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  margin-right: 2rem;
  transition: all 0.3s ease;
}

.navbar-link:hover {
  color: #5af5d6;
}

.navbar-link.active {
  color: #5af5d6;
}

/* Estilos para el botón */
.button {
  display: inline-block;
  border: none;
  border-radius: 3rem;
  padding: 0.8rem 1.8rem;
  margin: 0 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-color: #5af5d6;
  color: #181818;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #181818;
  color: #5af5d6;
  box-shadow: 0 0 1rem #5af5d6;
}
